
style(scoped).
  .note-content {
    min-height: 10em;
  }


form.form-horizontal(name="noteForm")
  .modal-header
    button.close(type="button" ng-click="$dismiss('close')")
      span(aria-hidden="true") &times;
      span.sr-only {{'copy:new_note.close' | i18next}}
    .modal-title {{'copy:new_note.title' | i18next}}

  .modal-body
    textarea.form-control.note-content(
      row="5"
      required
      name="content"
      placeholder="{{'copy:new_note.form_fields.content' | i18next}}"
      ng-model="content"
      msd-elastic
    )

  .modal-footer
    button.btn.btn-primary(
      ng-disabled="noteForm.$invalid"
      busybtn="click"
      busybtn-text="{{'usual_messages.submitting' | i18next}}"
      busybtn-handler="submit()"
    ) {{'usual_messages.submit' | i18next}}

    a.btn.btn-default(href="javascript:;" ng-click="$dismiss('close')") {{'usual_messages.cancel' | i18next}}