
form.form-horizontal(name="settingForm")
  .modal-header
    button.close(type="button" ng-click="$dismiss('close')")
      span(aria-hidden="true") &times;
      span.sr-only {{'copy:settings.close' | i18next}}
    .modal-title {{'copy:settings.title' | i18next}}

  .modal-body
    .form-group.email
      span.col-sm-2.control-label {{'copy:settings.form_fields.email' | i18next}}
      .col-sm-10
        .form-control.form-control-inline(ng-hide="emailEditing")
          span {{userSnapshot.email}}
          a.edit(href="javascript:;" ng-click="editEmailStart()"): i.glyphicon.glyphicon-pencil
          span.email-send-success(ng-show="changeEmailApplySendSuccess") {{'copy:settings.change_email_send_success' | i18next}}
        .input-group(ng-show="emailEditing")
          input.form-control(
            type="email"
            ng-model="targetEmail"
            ui-keydown="{esc: 'editEmailCancel()', enter: 'editEmailFinish($event)'}"
            ng-disabled="changeEmailPromise"
          )
          .input-group-addon.btn: button.btn.btn-primary(
            type="button"
            ng-click="editEmailFinish()"
            busybtn="changeEmailPromise"
            busybtn-text="{{'usual_messages.submitting' | i18next}}"
          ) {{'usual_messages.submit' | i18next}}
    .form-group
      label.col-sm-2.control-label {{'copy:settings.form_fields.timezone' | i18next}}
      .col-sm-10
        select.form-control(ng-model="userSnapshot.timezone" ng-options="tz.name as tz.displayName for tz in avaliableTimezones" required)
    .form-group
      label.col-sm-2.control-label {{'copy:settings.form_fields.alert_time' | i18next}}
      .col-sm-10
        select.form-control(ng-model="userSnapshot.alert_time" ng-options="alertTime for alertTime in avaliableAlertTimes" required)
    .form-group
      label.col-sm-2.control-label {{'copy:settings.form_fields.subscribe' | i18next}}
      .col-sm-10
        input.form-control-inline(type="checkbox" ng-model="userSnapshot.subscribed")

  .modal-footer
    button.btn.btn-danger.pull-left(
      busybtn="click"
      busybtn-text="{{'usual_messages.submitting' | i18next}}"
      busybtn-handler="destroyAccount()"
    ) {{'copy:settings.destroy_account' | i18next}}

    button.btn.btn-primary(
      ng-disabled="settingForm.$invalid"
      busybtn="click"
      busybtn-text="{{'usual_messages.submitting' | i18next}}"
      busybtn-handler="submit()"
    ) {{'usual_messages.submit' | i18next}}

    button.btn.btn-default(ng-click="$dismiss('close')") {{'usual_messages.cancel' | i18next}}