
article.container
  style(scoped).
    header nav {
      margin-top: -32px;
      text-align: center;
    }
    header .previous-diary {
      margin-right: 200px;
    }

    .date-navigator a,
    .menu a {
      color: #aeaeae;
    }

    .diary-not-exist {
      margin-top: 150px;
    }

    .menu {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 20px;
    }
    .menu a {
      padding: 10px;
      text-decoration: none;
    }

    .account-actions .dropdown-toggle:hover,
    .account-actions.open .dropdown-toggle {
      background: #eaeaea;
    }
    .account-actions .dropdown-menu {
      left: auto;
      right: 0;
      min-width: 0;
      border-radius: 0;
      box-shadow: none;
    }

    .note {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      width: 500px;
    }

    .created-at {
      position: relative;
      margin: 30px auto;
      width: 300px;
      text-align: center;
      color: #aeaeae;
    }
    .created-at > * {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    .created-at hr {
      position: absolute;
      top: 50%;
      margin: 0;
      width: 100%;
    }
    .created-at .sr-only {
      display: inline-block;
    }
    .created-at .time {
      position: relative;
      display: inline-block;
      padding: 0 10px;
      background-color: #fff;
    }

    textarea.content {
      padding: .5em;
      width: 100%;
      border: 0;
      resize: none;
      background-color: #f5f5f5;
    }

  header
    h2.text-center {{date}}
    nav.date-navigator: ul.list-inline
      li: a.previous-diary(ui-sref="diary({date: previousDate})") {{'copy:diary.previous_diary' | i18next}}
      li: a.next-diary(ui-sref="diary({date: nextDate})" ng-style="{visibility: nextDate ? 'visible' : 'hidden'}") {{'copy:diary.next_diary' | i18next}}
    ul.menu.list-inline
      li
        a.glyphicon.glyphicon-plus(href="javascript:;" ng-click="newNote()")
      li.dropdown.account-actions
        a.glyphicon.glyphicon-align-justify.dropdown-toggle(href="javascripts:;")
          span.sr-only {{'copy:diary.menu' | i18next}}
        ul.dropdown-menu
          li: a(href="javascript:;" ng-click="showSettings()") {{'copy:diary.menu_items.settings' | i18next}}
          li: a(href="javascript:;" ng-click="logout()") {{'copy:diary.menu_items.logout' | i18next}}

  p.text-center.diary-not-exist(ng-hide="notes.length")
    | {{'copy:diary.diary_not_exist' | i18next}}

  section.note(ng-repeat="note in notes")
    div(ng-if="!note.creating")
      .created-at
        hr
        span.sr-only {{'copy:diary.created_at' | i18next}}
        span.sr-only {{note.created_at | moment:'format':'YYYY-MM-DD'}}&nbsp;
        span.time {{note.created_at | moment:'format':'HH:mm'}}
      .content(ng-bind-html="note.content | formatNoteContent")
    form(ng-if="note.creating" name="newNoteForm" ng-submit="submitNewNote(note)")
      .created-at
        hr
        span.time(ng-if="note.creating") {{'copy:diary.created_at_now' | i18next}}
      textarea.content(
        app-autofocus="note.focus"
        ng-show="note.creating"
        row="5"
        required
        name="newNoteContent"
        placeholder="{{'copy:diary.form_fields.content' | i18next}}"
        ng-model="note.content"
        msd-elastic
      )
      ul.text-right.list-inline
        li: button.btn.btn-link.btn-serious(
          type="button"
          ng-click="deleteNewNote()"
        ) {{'usual_messages.cancel' | i18next}}
        li: button.btn.btn-link.btn-serious(
          type="submit"
          ng-disabled="newNoteForm.$invalid"
          busybtn="submittingNewNotePromise"
          busybtn-text="{{'usual_messages.submitting' | i18next}}"
        ) {{'usual_messages.submit' | i18next}}