
article.container
  header
    h2.text-center {{date | date:'yyyy-MM-dd'}}
    nav.date-navigator: ul.list-inline
      li: a.previous-diary(ui-sref="diary({date: previousDate})") {{'copy:diary.previous_diary' | i18next}}
      li: a.next-diary(ui-sref="diary({date: nextDate})" ng-style="{visibility: nextDate ? 'visible' : 'hidden'}") {{'copy:diary.next_diary' | i18next}}
    ul.menu.list-inline
      li
        a.glyphicon.glyphicon-plus(href="javascript:;" ng-click="newNote()")
      li.dropdown.account-actions
        a.glyphicon.glyphicon-align-justify.dropdown-toggle(href="javascripts:;")
          span.sr-only {{'copy:diary.menu' | i18next}}
        ul.dropdown-menu
          li: a(href="javascript:;" ng-click="showSettings()") {{'copy:diary.menu_items.settings' | i18next}}
          li: a(href="javascript:;" ng-click="logout()") {{'copy:diary.menu_items.logout' | i18next}}

  p.text-center.diary-not-exist(ng-hide="notes.length")
    | {{::'copy:diary.diary_not_exist' | i18next}}

  section.note(ng-repeat="note in notes")
    div(ng-if="!note.creating")
      .created-at
        hr
        span.sr-only {{::'copy:diary.created_at' | i18next}}
        span.sr-only {{::note.created_at | moment:'format':'YYYY-MM-DD'}}&nbsp;
        span.time {{::note.created_at | moment:'format':'HH:mm'}}
      .content(ng-if="note.type === 'text'" ng-bind-html="note.content | formatNoteContent")
      .content(ng-if="note.type === 'image'"): img(ng-src="{{::note.content}}")
    form(ng-if="note.creating" name="newNoteForm" ng-submit="submitNewNote(note)")
      .created-at
        hr
        span.time(ng-if="note.creating") {{'copy:diary.created_at_now' | i18next}}
      textarea.content(
        app-autofocus="note.focus"
        ng-show="note.creating"
        row="5"
        required
        name="newNoteContent"
        placeholder="{{'copy:diary.form_fields.content' | i18next}}"
        ng-model="note.content"
        ui-keydown="{'meta-enter': 'submitNewNote(note)', 'ctrl-enter': 'submitNewNote(note)', 'esc': 'deleteEmptyNewNote(note)'}"
        msd-elastic
      )
      ul.text-right.list-inline
        li: button.btn.btn-link.btn-serious(
          type="button"
          ng-click="deleteNewNote()"
        ) {{'usual_messages.cancel' | i18next}}
        li: button.btn.btn-link.btn-serious(
          type="submit"
          ng-disabled="newNoteForm.$invalid"
          busybtn="submittingNewNotePromise"
          busybtn-text="{{'usual_messages.submitting' | i18next}}"
        ) {{'usual_messages.submit' | i18next}}