
.container
  .heroarena
    h1
      | LifeMessager
      small.secondary {{'copy:home.met_will_meet_again' | i18next}}

  p.text-center(ng-show="message") {{message}}
  form.text-center.form-inline(novalidate name="formLogin" ng-submit="login()" ng-hide="message")
    input.form-control(type="email" required
      ng-disabled="loginPromise"
      ng-model="email"
      ng-i18next="[placeholder]copy:home.your_email")
    button.btn.btn-default(type="submit"
      ng-disabled="formLogin.$invalid"
      busybtn="loginPromise"
      busybtn-text="{{'usual_messages.submitting' | i18next}}") {{'copy:home.start' | i18next}}

nav
  ul.list-inline
    li: a(href="http://lifemessager.tumblr.com/" target="_blank") About
    li: a(href="https://trello.com/b/9LoL4kVa/lifemessager" target="_blank") Todo
    li: a(href="http://docs.lifemessager.apiary.io/" target="_blank") API
    li: a(href="https://github.com/LifeMessager" target="_blank") Source
    li: a(href="mailto:support@lifemessager.com") Email